@import '../../assets/scss/variable.scss';

.image__group {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;

  .img__item-1,
  .img__item-2,
  .img__item-3 {
    position: absolute;
    width: 600px;
    height: auto;
    transition: all 0.3s ease;
  }

  .img__item-1 {
    top: 5%;
    right: 0;
    transform: translateX(-20px);
  }

  .img__item-2 {
    top: 25%;
    left: 0;
    transform: translateX(-140px);
  }

  .img__item-3 {
    top: 60%;
    right: 0;
    transform: translateX(100px);
  }
}

.list-team__navigate {
  display: flex;
  align-items: center;
  gap: 10px;
  .text-navigate {
    color: $textColor;
    transition: color 0.2s ease;
    &:hover {
      color: $subTextColor;
    }
  }
}

.competition-team__group-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  margin: 40px auto 0;

  .competition-team__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-color: $bgColor3;
    border-radius: 16px;
    user-select: none;
    border: 1px solid #6b6b6b7e;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    backdrop-filter: blur(10px);

    &:hover::before {
      left: auto;
      right: 0;
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      height: 100%;
      width: 0;
      background-color: #fff;
      opacity: 0.1;
      z-index: -1;
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .competition-team__top {
      text-align: center;
      padding-bottom: 8px;
      border-bottom: 1px solid #6b6b6b7e;
      width: 100%;
    }

    .competition-team__content {
      margin: 20px 0;
      display: flex;
      align-items: center;
      padding: 0 6px;
      .name-team {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100px;
        color: $textColor;
      }

      .team-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 2;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-bottom: 4px;
          cursor: pointer;
        }

        span {
          text-align: center;
          display: block;
          overflow: hidden;
          color: $textColor;
        }
      }

      .icon-solo {
        flex: 1;
      }

      .team-score {
        cursor: pointer;
        color: $textColor;
      }
    }

    .competition-team__bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-top: 1px solid #6b6b6b7e;
      width: 100%;
      padding-top: 8px;
      text-align: center;
      cursor: pointer;

      .timer-start {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: $bgColor3;
        border: none;
        outline: none;
        border-radius: 8px;
        color: $textColor;
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .competition-team__group-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    gap: 16px;
    margin: 40px auto 0;
    padding: 0 10%;
  }
  .list-team__navigate {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
    .text-navigate {
      color: $textColor;
      transition: color 0.2s ease;
      &:hover {
        color: $subTextColor;
      }
    }
  }
  .image__group {
    .img__item-1,
    .img__item-2,
    .img__item-3 {
      width: 300px;
      opacity: 0.8;
    }
    .img__item-1 {
      transform: translateX(0);
    }
    .img__item-2 {
      transform: translateX(0);
    }
    .img__item-3 {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 480px) {
  .competition-team__group-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none;
    gap: 16px;
    margin: 40px auto 0;
    padding: 0 10%;
  }
  .image__group {
    .img__item-1,
    .img__item-2,
    .img__item-3 {
      width: 200px;
      opacity: 0.8;
    }
    .img__item-1 {
      top: 20%;
    }
    .img__item-2 {
      top: 40%;
    }
    .img__item-3 {
      top: 70%;
    }
  }
}
